<ion-view view-title="lab">
  <!--顶部导航-->
  <ion-nav-title>
    <div class="bar bar-positive">
      <div class="button-bar nav-bar">
        <a class="button active" menu-close nav-transition="ios" nav-direction="enter">采购</a>
        <a class="button" href="#/app/playlists" menu-close nav-transition="ios" nav-direction="enter">销售</a>
      </div>
    </div>
  </ion-nav-title>

  <ion-nav-buttons side="secondary">
    <button class="button button-clear">更多</button>
  </ion-nav-buttons>


  <!--顶部二级导航-->
  <div class="tabs-striped tabs-top">
    <div class="tabs">
      <a class="tab-item active" href="#/app/playlists" menu-close nav-transition="ios" nav-direction="enter">二级</a>
      <a class="tab-item" href="#/app/search" menu-close nav-transition="ios" nav-direction="enter">二级</a>
      <a class="tab-item">二级</a>
    </div>
  </div>

  <ion-content class="has-subheader">
    <div class="list card">
      <div class="item item-image">
        <img src="/img/pic1.jpg">
      </div>

      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-music-note"></i> Start listening
      </a>

    </div>
  </ion-content>


  <!--底部导航-->
  <div class="tabs">
    <a class="tab-item" href="#/app/playlists" menu-close nav-transition="ios" nav-direction="enter">交易</a>
    <a class="tab-item ">物流</a>
    <a class="tab-item active">设置</a>
  </div>


</ion-view>
