<ion-view view-title="Search">
  <!--顶部导航-->
  <ion-nav-title>
    <div class="bar bar-positive">
      <div class="button-bar nav-bar">
        <a class="button" href="#/app/playlists" menu-close nav-transition="ios" nav-direction="enter">分栏</a>
        <a class="button" href="#/app/lab" menu-close nav-transition="ios" nav-direction="enter">分栏</a>
      </div>
    </div>
  </ion-nav-title>

  <ion-nav-buttons side="secondary">
    <button class="button button-clear">更多</button>
  </ion-nav-buttons>

  <!--顶部二级导航-->
  <div class="tabs-striped tabs-top">
    <div class="tabs">
      <a class="tab-item" href="#/app/playlists" menu-close nav-transition="ios" nav-direction="enter">二级</a>
      <a class="tab-item active">二级</a>
      <a class="tab-item" href="#/app/browse" menu-close nav-transition="ios" nav-direction="enter">二级</a>
    </div>
  </div>


  <!--中间内容区-->
  <ion-content class="has-subheader">
    <h1 menu-close ng-click="login()">Search</h1>
  </ion-content>



  <!--底部导航-->
  <div class="tabs">
    <a class="tab-item" href="#/app/playlists" menu-close nav-transition="ios" nav-direction="enter">交易</a>
    <a class="tab-item active">物流</a>
    <a class="tab-item">设置</a>
  </div>

</ion-view>
