<!--货源---订单---指派司机成功-->
<ion-view class="bg-blur assign_driver_succeed" hide-back-button="true">
    <ion-nav-buttons side="left">
        <span menu-close nav-transition='ios' nav-direction="back" ng-click="vm.locationHrf()">
            <i class="icon ion-ios-arrow-back"></i>
            <span class="default-title">完成</span>
        </span>
    </ion-nav-buttons>
    <ion-nav-title>
        <div class="bar bar-positive">
            <h1 class="title">接单成功</h1>
        </div>
    </ion-nav-title>
    <ion-content ng-class="{'has-subheader':$root.rscPlatform == 'isweb'}">
        <div class="text-center success-bg gap-20">
            <div style="height: 120px; margin: auto">
                <ion-spinner class="spinner-modal" icon="ripple"></ion-spinner>
            </div>
            <!--<img src="./img/common/invite-icon.png" class="invite-icon">-->
            <h1 class="text-gray1">正在通知{{vm.demandUserInfo[0].company_name}}</h1>
            <h1 class="text-gray1">{{vm.demandUserInfo[0].user_name}}</h1>
            <h6 class="text-gray gap-20">他们将马上收到接单通知！</h6>
            <h6 class="text-gray gap-5">他们可在运输-指派中看到您的最新接单</h6>
            <div class="gap-20"></div>
            <div>
                <button class="button-inline button-dark button-round" ng-click='vm.goRoute("look")'>
					查看详情
				</button>
                <button class="button-inline button-stabled button-round" ng-click='vm.goRoute("continue")'>
					更多指派
				</button>
            </div>

            <style>
                .myul {
                    padding: 0 10px;
                    overflow: hidden;
                    margin: auto;
                    margin-top: 10px;
                }
            </style>
            <ul class="visitor-list myul">
                <li class="slide-right myli" ng-repeat="i in vm.demandUserInfo">
                    <img ng-src="{{i.user_photo}}" image404="./img/common/infor-face.png" class="img-face img-circle">
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>