<div class="bg-white gap-row">
  <div class="row text-center gap-3">
      <div class="col" ui-sref="rsc.manage_colleague({source:'companypage'})">
          <h4>{{companyInfo_count.colleague}}</h4>
          <h5 class="gap-5 text-gray">员工</h5>
      </div>
      <div class="col" ui-sref="rsc.manage_traffic({type:'PURCHASE'})">
          <h4>{{companyInfo_count.PURCHASE}}</h4>
          <h5 class="gap-5 text-gray">货主</h5>
      </div>
  </div>
  <div class="clearfix"></div>
  <div class="gap-2"></div>
</div>