<ion-view view-title="立即抢单">
    <ion-content class="bg-gray">
        <div class="bg-white gap-10">
            <div class="list list-item list-type-input">
                <li class="item item-type">
                    单价(元/吨)
                    <span class="pull-right text-red bold">￥300</span>
                </li>
                <li class="item item-input list-input list-input-standard">
                    <span class="input-label">运输量(吨)</span>
                    <input type="tel" placeholder="请输入" class="text-right">
                </li>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-light bar-footer">
        <div class="row button-foot">
            <div class="col col-67">
                合计：<span class="text-red">￥2,630,577</span>
            </div>
            <div class="col col-red" ui-sref="modelrush-2">
                确认抢单
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
