<ion-view>
    <ion-nav-title>
        <div class="bar bar-stable">
            <h1 class="title">发布新线路</h1>
        </div>
    </ion-nav-title>
    <ion-content class="bg-gray">
        <div class="list list-addline">
            <li class="item item-icon-left item-icon-right gap-10">
                <i class="icon ion-ios-location text-green"></i> 出发地：
                <span class="pull-right text-gray">请选择</span>
                <i class="icon ion-ios-arrow-right text-gray"></i>
            </li>
            <li class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-location text-orange"></i> 到达地：
                <span class="pull-right text-gray">请选择</span>
                <i class="icon ion-ios-arrow-right text-gray"></i>
            </li>
        </div>
        <div class="list list-addline list-addline-last">
            <li class="item item-input list-input gap-10">
                <span class="input-label">线路报价(元/吨)</span>
                <input type="tel" placeholder="请输入" class="text-right">
            </li>
            <li class="item item-input list-input">
                <span class="input-label">回程报价(元/吨)</span>
                <input type="tel" placeholder="请输入" class="text-right">
            </li>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-royal">
        <h1 class="title">立即发布线路</h1>
    </ion-footer-bar>
</ion-view>