<ion-view>
    <ion-nav-title>
        <div class="bar bar-stable">
            <h1 class="title">运输</h1>
        </div>
    </ion-nav-title>
    <ion-content class="bg-gray">
        <!--待运输-->
        <div class="list-card gap-10">
            <div class="list-inset">
                <h5>
                    太和煤业集团
                    <img src="./img/158/label-v.png" class="label-v">
                </h5>
                <div class="row gap-5">
                    <div class="col text-left">
                        <img src="./img/pass/pass-icon.png" class="label-icon pull-left">
                        <div class="pull-left">
                            <h4 class="bold">北京市</h4>
                            <h5 class="text-gray1 gap-3">东城区</h5>
                            <h5 class="text-gray1 gap-3">8月10日 周三</h5>
                        </div>
                    </div>
                    <div class="col text-center gap-3">
                        <h5 class="text-gray1">768吨 钢铁</h5>
                        <h5 class="status-bg text-orange">￥80元/吨</h5>
                    </div>
                    <div class="col text-right">
                        <h4 class="bold">天津市</h4>
                        <h5 class="text-gray1 gap-3">和平区</h5>
                        <h5 class="text-gray1 gap-3">8月10日 周三</h5>
                    </div>
                </div>
                <h5 class="text-orange gap-10">
                    待找车运输
                </h5>
            </div>
        </div>
        <!--发抢单-->
        <div class="list-card gap-10">
            <div class="list-inset">
                <h5>
                    太和煤业集团
                    <img src="./img/158/label-v.png" class="label-v">
                </h5>
                <div class="row gap-5">
                    <div class="col text-left">
                        <img src="./img/pass/pass-icon1.png" class="label-icon pull-left">
                        <div class="pull-left">
                            <h4 class="bold">北京市</h4>
                            <h5 class="text-gray1 gap-3">东城区</h5>
                            <h5 class="text-gray1 gap-3">8月10日 周三</h5>
                        </div>
                    </div>
                    <div class="col text-center gap-3">
                        <h5 class="text-gray1">768吨 钢铁</h5>
                        <h5 class="status-bg text-gray1">￥80元/吨</h5>
                    </div>
                    <div class="col text-right">
                        <h4 class="bold">天津市</h4>
                        <h5 class="text-gray1 gap-3">和平区</h5>
                        <h5 class="text-gray1 gap-3">8月10日 周三</h5>
                    </div>
                </div>
                <h5 class="text-orange gap-10">
                    司机：待接单8，待派货6，运输中10，已运完5
                </h5>
            </div>
        </div>
        <!--找线路-->
        <div class="list-card gap-10">
            <div class="item item-avatar item-pass">
                <img src="./img/common/infor-face.png">
                <h3 class="text-black">欣兴</h3>
                <p>32分钟</p>
            </div>
            <div class="list-inset gap-3">
                <div class="row">
                    <div class="col text-left">
                        <img src="./img/pass/line-icon.png" class="line-icon pull-left">
                        <div class="pull-left">
                            <h4 class="bold gap-3">北京市</h4>
                            <h5 class="text-gray1 gap-10">东城区</h5>
                        </div>
                    </div>
                    <div class="col text-center gap-3">
                        <h5 class="text-orange">去：￥84元/吨</h5>
                        <h5 class="status-bg text-orange">回：￥18元/吨</h5>
                    </div>
                    <div class="col text-right">
                        <h4 class="bold gap-3">天津市</h4>
                        <h5 class="text-gray1 gap-10">和平区</h5>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
