<div class="bg-royal">
    <div ng-if="!vm.company_info">
        <div class="list">
            <!--<div class="item item-avatar item-master item-icon-right" ng-style="{'background-image': !!vm.companyUrl?vm.companyUrl:'url(./img/me/bg-companymaster.png)'}"
                            ng-click="vm.changeBackground()">-->
            <div class="item item-avatar item-master item-icon-right" ng-click="search_company()">
                <img ng-src="{{vm.company_info.url_logo}}" class="logo-icon" image-404="./img/common/logo-icon.png">
                <h2>
                    我是员工，加入企业
                </h2>
                <div class="clear"></div>
                <h5 class="text-gray">
                    搜索企业名称，查看是否已升级互联网+！
                </h5>
                <i class="icon ion-ios-arrow-right text-white"></i>
            </div>
        </div>

    </div>
    <div ng-if="vm.company_info">
        <div class="list" ng-switch="vm.company_info.type">
            <li ng-switch-when="TRADE" class="item item-avatar item-master item-icon-right" ng-click="$root.rootGoDetail(vm.company_info.type,vm.company_info._id)">
                <img ng-src="{{vm.company_info.url_logo}}" class="logo-icon" image-404="./img/common/logo-icon.png">
                <h2>
                    {{vm.company_info.nick_name}}
                    <img ng-if="vm.company_info.verify_phase=='SUCCESS'" src="./img/158/label-v.png" class="label-v">
                </h2>
                <div class="clear"></div>
                <div>
                    <h5 class="text-gray">
                        <span class="text-hidden">
                            采购:
                            <i ng-repeat="i in vm.company_info.buy">
                                {{i|categoryFilter}}
                            </i>
                        </span>
                        <span class="text-hidden">
                            销售:
                            <i ng-repeat="i in vm.company_info.sell">
                                {{i|categoryFilter}}
                            </i>
                        </span>
                    </h5>
                </div>

                <i class="icon ion-ios-arrow-right text-white"></i>
            </li>
            <li ng-switch-when="TRAFFIC" class="item item-avatar item-master item-icon-right" ng-click="$root.rootGoDetail(vm.company_info.type,vm.company_info._id)">
                <img ng-src="{{vm.company_info.url_logo}}" class="logo-icon" image-404="./img/common/logo-icon.png">
                <h2>
                    {{vm.company_info.nick_name}}
                    <img ng-if="vm.company_info.verify_phase=='SUCCESS'" src="./img/158/label-v.png" class="label-v">
                </h2>
                <div class="clear"></div>
                <h5>
                        常运货物:
                    <span ng-repeat="i in vm.company_info.transport">
                              {{i|categoryFilter}}
                     </span>
                </h5>

                <i class="icon ion-ios-arrow-right text-white"></i>
            </li>
        </div>
    </div>
</div>
