<ion-view view-title="在线视频秘书">
    <ion-content class="bg-gray has-footer" ng-class="{'has-subheader':$root.rscPlatform == 'isweb'}">
        <div class="text-center gap-20">
            <img src="./img/common/video-img1.png" class="video-img1">
            <h1 class="text-gray gap-20">即将上线</h1>
            <h1 class="text-gray">敬请期待</h1>
            <h5 class="text-gray gap-30">在线视频秘书，为你全方位打理业务，</h5>
            <h5 class="text-gray">秘书为您代发布需求，随时为您服务！</h5>
        </div>
    </ion-content>
    <img src="./img/common/video-img2.png" class="video-img2">
    <ion-footer-bar class="bar bar-light">
        <div class="flex-center text-center">
            <a href="tel:010-57406666">
                <div class="item item-video item-avatar item-icon-left">
                    <i class="icon ion-ios-telephone"></i>
                    <h3>有问题请先联系日常客服</h3>
                    <h5 class="text-gray">工作日 9:00 - 18:00</h5>
                </div>
            </a>
        </div>
    </ion-footer-bar>
</ion-view>
