<ion-view hide-nav-bar="true" hide-back-button="true" class="bg-unlogin">
    <ion-nav-bar class="bar bar-header bar-dark"></ion-nav-bar>
    <ion-content class="has-header" overflow-scroll="true" style="overflow: visible;">
        <ion-content>
        </ion-content>
        <div class="row unlogin-bot">
            <button class="col col-50 button button-stabled" ng-click="vm.open()">
				登 录
			</button>
            <button class="col col-50 button button-light" ui-sref="register">
			    注 册
		    </button>
        </div>
</ion-view>
